/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #ff5912;
    cursor: pointer;
}
img{
    max-width: 100%;
}
input, textarea, button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}
label{
    margin-bottom: 0;
}
/* RESET END */

/* DEFAULT CLASSES START */
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.custom-icon{
    display: inline-block;
}
.icon-add-to-cart-ic:hover{
    background-position: 0px -38px;
}
.icon-cart-ic:hover{
    background-position: -20px -59px;
}
.icon-like-ic:hover{
    background-position: -38px -80px;
}
.icon-search-ic:hover{
    background-position: -81px 0px;
}
.icon-share-ic:hover{
    background-position: -44px -59px;
}
.icon-user-ic:hover{
    background-position: 0px -59px;
}
.orange-text{
    color: #ff5912;
}
.stars-orange{
    color: #f65e44;
}
.stars-grey{
    color: #e8ecf3;
}
.red-bg{
    background-color: #e12e3f;
}
.black-bg{
    background-color: #34404b;
}
.blue-bg{
    background-color: #3ab3ff;
}
.green-bg{
    background-color: #2fd967;
}
.white-bg{
    background-color: #fff;
}
.light-orange-bg{
    background-color: #ff9060;
}
.orange-bg{
    background-color: #ff5912;
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENT START */
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.item{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    background-color: #fff;
    padding: 30px 10px;
    transition: all .2s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.item .item-img{
    transition: all .3s linear;
    margin-bottom: 30px;
    height: 216px;
}
.item .item-img img{
    max-height: 100%;
}
.item:hover .item-img{
    height: 90px;
}
.item-description{
    padding: 0 40px;
}
.item .item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #34404b;
    margin: 30px 0;    
}
.item:hover .item-title{
    color: #ff5912;
}
.item-price{
    color: #ff5912;
}
.item:hover .item-price{
    display: none;
}
.more-info-on-hover{
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .1s linear;
    width: 100%;
    padding: 0 50px;
}
.item:hover .more-info-on-hover{
    opacity: 1;
}
.more-info-on-hover .size{
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}
.more-info-on-hover .colors li{
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}
.checkbox-group{
    padding-top: 35px;
}
.checkbox-group input[type="checkbox"]{
    display: none;
}
.checkbox-group label{
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
.checkbox-group label::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}
.checkbox-group input[type="checkbox"]:checked + label{
    color: #ff5912;
}
.checkbox-group input[type="checkbox"]:checked + label::before{
    border-color: #ff5912;
}
.subscribe-description{
    font-family: 'Harmonia_italic';
    font-size: 14px;
    color: #34404b;    
}
.subscribe-description span{
    text-transform: uppercase;
    font-family: 'Harmonia_bold';
    font-size: 18px;
    padding-right: 25px;

}
.subscribe-form{
    padding: 37px 42px;
}
.subscribe-input-group{
    margin-right: 30px;
}
.subscribe-input-group label{
    vertical-align: middle;
    margin-right: 10px;
}
.subscribe-input{
    color: #7c8791;
    font-family: 'Harmonia_italic';
    font-size: 14px;
    min-width: 255px;
}
.btn-default{
    width: 100px;
    height: 50px;
    background-color: #ff5912;
    color: #fff;
    font-family: 'Harmonia_semibold';
    font-size: 14px;
    border-radius: 0;
}
.btn-default:hover{
    background-color: #ff5912;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.btn-radius{
   border-radius: 25px;
   width: 135px;
   height: 50px;
   background-color: #ff5912;
   color: #fff;
   font-family: 'Harmonia_semibold';
   font-size: 18px;

}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px
}
header .top-header .social-nav a + a{
    margin-left: 15px;
}
header .bottom-header{
    border-bottom: 1px solid #edeff1;
    padding: 40px 0;
}
header .bottom-header .header{
    margin-left: 84px;
    font-size: 16px;
}
header .bottom-header .navigation li + li{
    margin-left: 40px;
}
header .bottom-header .user-controls{
    margin-left: auto;
}
header .bottom-header .user-controls a + a{
    margin-left: 30px;
}
header .bottom-header .user-controls a:last-child{
    position: relative;
}
header .bottom-header .user-controls .label {
    display: block;
    position: absolute;
    top: -20px;
    left: 3px;
    height: 18px;
    width: 18px;
    background-color: #34404b;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
}
footer{
    font-family: 'Harmonia_regular';
    font-size: 14px;
    color: #38313b;
    padding: 90px 0;
    margin-top: 60px;
}
footer img{
    padding-bottom: 20px;
}
footer ul li + li{
    padding-top: 20px;
}
footer ul li::before{
    font-family: 'FontAwesome';
    content: "\f111 ";
    font-size: 4px;
    vertical-align: middle;
    padding-right: 9px;
}
footer ul li:hover::before{
    color: #ff5912;
}
footer ol li{
    display: inline-block;
    margin-top: 20px;
}
footer span{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
    padding-top: 10px;
}
.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
.subtitle{
    display: block;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    color: #3c4751;
    margin-bottom: 15px;
}
.description{
    display: block;
    font-family: 'Harmonia_regular'; 
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
    line-height: 30px;
    text-transform: none;
}
.order-info .description{
    margin-bottom: 40px;
}
.price-wrap{
    margin-top: 64px;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.price-wrap .price{
    display: inline-block;
    color: #34404b;
    margin-right: 30px;
}
.price-wrap a span{
    margin-right: 15px;
}
.circle{
    display: inline-block;
    background-color: #ff5912;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 25px 5px 25px 0;
}
.load-more{
    padding: 0 15px;
    text-align: center;
    background-color: #fff;
    margin-top: 80px;
}
.hot-deal{
    justify-content: space-around;
    height: 100px;
    border: 1px solid #eaedef;
}
.hot-deal .sale{
    color: #fff;
    position: relative;
}
.hot-deal .sale p{
    font-family: 'Harmonia_italic';
    position: absolute;
    top: -20px;
    left: 16px;
    z-index: 9998;
}
.hot-deal .sale span{
    display: block;
    font-family: 'Harmonia_black';
    font-size: 18px;
    z-index: 9999;
    position: absolute;
    left: 9px;
    top: -5px;
}
.layer-1{
    width: 52px;
    height: 62px;
    transform: rotate(-45deg);
    position: absolute;
    top: -30px;
    z-index: 99;
}
.layer-2{
    width: 52px;
    height: 62px;
    transform: rotate(45deg);
    position: absolute;
    top: -30px;
    z-index: 999;
}
.hot-deal .sale-title{
    font-family: 'Harmonia_black';
    font-size: 22px;
    color: #34404b;
    text-transform: uppercase;
    padding-left: 50px;
}
.hot-deal .sale-title span{
    display: block;
    font-family: 'Harmonia_regular';
    font-size: 12px;
    color: #495662;
    text-transform: none;
    padding-top: 15px;
}
.hot-deal .sale-price{
    font-family: 'Harmonia_black';
    font-size: 32px;
    border-left: 1px solid #f5f5f6;
    padding-left: 40px;
}
.hot-deal .sale-price span{
    margin-right: 20px;
}
.adv{
    height: 100px;
    justify-content: center;
    border: 1px solid #eaedef;
    text-align: center;
}
.adv .adv-title{
    font-size: 16px;
}
.adv .adv-size{
    font-size: 12px;
    color: #aeb3b7;
    letter-spacing: 5px;
    padding-top: 15px;
}
.item-product{
    padding: 35px 5px;
    justify-content: center;
}
.item-product:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.product-img{
    display: inline-block;
    padding-right: 25px;
}
.product-title{
    padding-bottom: 30px;
}
.product-description{
    display: inline-block;
    font-family: 'Harmonia_bold';
    font-size: 18px;
    color: #34404b;
    padding-left: 25px;
    border-left: 1px solid #f5f5f6;
    position: relative;
}
.product-description ul{
    display: inline-block;
}
.product-description ul li{
    display: inline-block;
}
.product-description .item-price{
    display: inline-block;
    float: right;
}
.product-description a{
    font-family: 'Harmonia_semibold';
    font-size: 16px;
}
.product-description a span{
    margin-right: 10px;
    margin-top: 30px;
}
.item-product:hover .like{
    display: none;
}
.item-product:hover .add-to-cart{
    opacity: 1;
}
.add-to-cart{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 40px;
}

/* DEFAULT COMPONENT END */

/* ALL STYLES START */
.category-wrap{
    padding-top: 120px;
}
.category-wrap .load-more{
    margin: 0 0 60px 0;
}
.category-wrap .subscribe-form{
    margin: 60px 0;
}
.aside-section{
    padding: 40px;
}
.aside-section + .aside-section{
    margin-top: 30px;
}
.aside-section-title{
    font-family: 'Harmonia_black';
    font-size: 18px;
    color: #ff5912;
}
.aside-section ul li{
    font-family: 'Harmonia_semibold';
    padding-top: 35px;
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
}
.category-wrap .item{
    margin-bottom: 30px;
}
.range{
    margin-top: 70px;
}
.min-value, .max-value{
    position: absolute;
    top: -200%;
    font-size: 14px;
    color: #43404b;
    font-family: 'Harmonia_semibold';
    transform: translateX(-50%);
    left: 50%;
}
.product-wrap{
    padding: 70px 125px;
    background-color: #fff;
    margin-bottom: 60px;
}
.product-carousel{
    width: 330px;
}
.ui-slider .ui-slider-handle{
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: #34404b;
    border: none;
    cursor: pointer;
}
.ui-widget-header {
    background: #34404b;
}
.ui-widget.ui-widget-content {
    border: none;
    background-color: #edf0f2;
    height: 3px;
}
.add-range-value{
    padding-top: 40px;
}
.add-range-value input{
    background-color: #edf0f2;
    margin-left: 15px;
    height: 25px;
    width: 45px;
}
.add-range-value .range-input-reoup + .range-input-reoup label{
    padding-left: 15px;
}
.chose-size span, .quantity span{
    margin-right: 20px;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.line{
    border-left: 1px solid #f0f2f3;
}
.size-radio input[type="radio"]{
    display: none;
}
.size-radio label{
    font-family: 'Harmonia_semibold';
    font-size: 14px;
    color: #34404b;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label{
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio{
    margin-left: 10px;
}
.size-radio + .size-radio::before{
    content: '-';
    margin-right: 10px;
}
.order-form{
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
.order-now{
    margin-top: 40px;
}
.product-price{
    margin-right: auto;
    font-family: 'Harmonia_black';
    font-size: 20px;
}
.product-share{
    margin-right: 25px; 
}
.product-share li{
    display: inline-block;
}
.product-share li + li{
    margin-left: 30px;
}
/* ALL STYLES END */
  