/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #111;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #ff5912;
}
img{
    max-width: 100%;
}
input, textarea, button{
    outline: none;
    border: none;
}
textarea{
    resize: vertical;
}
button{
    cursor: pointer;
}
/* RESET END */

/* DEFAULT CLASSES START */
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.justify-sp-between{
    justify-content: space-between;
}
.custom-icon{
    display: inline-block;
}
.orange-text{
    color: #ff5912;
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENT START */
.title{
    font-family: 'Harmonia_black';
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big{
    font-size: 52px;
}
.default-section{
    padding: 60px 0;
}
.item{
    font-family: 'Harmonia_bold';
    font-size: 18px;
    background-color: #fff;
    padding: 30px 10px;
    transition: all .2s linear;
    text-align: center;
}
.item:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.item .item-title{
    color: #34404b;
    margin: 30px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-price{
    color: #ff5912;
}
header .top-header{
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li{
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon{
    margin-right: 10px
}
header .top-header .social-nav a + a{
    margin-left: 15px;
}
header .bottom-header{
    border-bottom: 1px solid #edeff1;
    padding: 40px 0;
}
header .bottom-header .header{
    margin-left: 84px;
    font-size: 16px;
}
header .bottom-header .navigation li + li{
    margin-left: 40px;
}
header .bottom-header .user-controls{
    margin-left: auto;
}
header .bottom-header .user-controls a + a{
    margin-left: 30px;
}
header .bottom-header .user-controls a:last-child{
    position: relative;
}
header .bottom-header .user-controls .label {
    display: block;
    position: absolute;
    top: -20px;
    left: 3px;
    height: 18px;
    width: 18px;
    background-color: #34404b;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
}
.items-carousel{
    min-height: 650px;
    background: url("../img/carousel-img-1.jpg") no-repeat center / cover;
    margin-bottom: 60px;
}
.subtitle{
    display: block;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
    color: #3c4751;
    margin-bottom: 15px;
}
.description{
    display: block;
    font-family: 'Harmonia_regular'; 
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
    text-transform: none;
}
.price-wrap{
    margin-top: 64px;
    font-family: 'Harmonia_semibold';
    font-size: 18px;
}
.price-wrap .price{
    display: inline-block;
    color: #34404b;
    margin-right: 30px;
}
.price-wrap a span{
    margin-right: 15px;
}
.circle{
    display: inline-block;
    background-color: #ff5912;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin: 25px 5px 25px 0;
}
.load-more{
    padding: 0 15px;
    text-align: center;
    background-color: #fff;
    margin-top: 80px;
}
.hot-deal{
    background-color: #fff;
    justify-content: space-around;
    height: 100px;
    border: 1px solid #eaedef;
}
.hot-deal .sale{
    color: #fff;
    position: relative;
}
.hot-deal .sale p{
    font-family: 'Harmonia_italic';
    position: absolute;
    top: -20px;
    left: 16px;
    z-index: 9998;
}
.hot-deal .sale span{
    display: block;
    font-family: 'Harmonia_black';
    font-size: 18px;
    z-index: 9999;
    position: absolute;
    left: 9px;
    top: -5px;
}
.layer-1{
    width: 52px;
    height: 62px;
    background-color: rgb(255, 144, 96);
    transform: rotate(-45deg);
    position: absolute;
    top: -30px;
    z-index: 99;
}
.layer-2{
    width: 52px;
    height: 62px;
    background-color: #ff5912;
    transform: rotate(45deg);
    position: absolute;
    top: -30px;
    z-index: 999;
}
.hot-deal .sale-title{
    font-family: 'Harmonia_black';
    font-size: 22px;
    color: #34404b;
    text-transform: uppercase;
}
.hot-deal .sale-title span{
    display: block;
    font-family: 'Harmonia_regular';
    font-size: 12px;
    color: #495662;
    text-transform: none;
    padding-top: 15px;
}
.hot-deal .sale-price{
    font-family: 'Harmonia_black';
    font-size: 32px;
    border-left: 1px solid #f5f5f6;
    padding-left: 40px;
}
.hot-deal .sale-price span{
    margin-right: 20px;
}
.adv{
    background-color: #fff;
    height: 100px;
    justify-content: center;
    border: 1px solid #eaedef;
    text-align: center;
}
.adv .adv-title{
    font-size: 16px;
}
.adv .adv-size{
    font-size: 12px;
    color: #aeb3b7;
    letter-spacing: 5px;
    padding-top: 15px;
}

/* DEFAULT COMPONENT END */

/* ALL STYLES START */

/* ALL STYLES END */
  